 @import url(fonts/Poppins-Black.ttf);
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 }
 .slide-item a{
  text-decoration: none;
  color: white;
 }
 body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: white;
 }
 /*Personalization*/
 /*------Side Bar------*/
 .sidebar{
  height: 100%;
  width: 78px;
  background: #fff3f3;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 14px;
  transition: 0.5s;
 }
 .sidebar .text{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
 }
 .sidebar.active .text{
  opacity: 1;
  pointer-events: auto;
 }
 .sidebar.active{
  width: 240px;
  transition: 0.5s;
 }
 .sidebar.active #btn{
  left: 90%;
 }
 .sidebar.active .logo_content .logo{
  pointer-events: none;
  opacity: 1;
 }
 .sidebar .logo_content .logo{
  opacity: 0;
  pointer-events: none;
  color: #000;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  transition: all 0.5s ease;
 }
 .logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
 }
 .logo_content .logo i .logo_name{
  font-size: 20px;
  font-weight: 400;
 }
 .sidebar #btn{
  color: #000;
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
 }
 .sidebar ul{
  margin-top: 20px;
 }
 .sidebar ul input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #eee;
  padding-left: 50px;
  font-size: 18px;
  color: #000;
 }
 .sidebar ul .fa-search{
  position: absolute;
  z-index: 99;
  color: #000;
  font-size: 22px;
 }
 .sidebar .fa-search:hover{
  background: #000;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
 }
 .sidebar ul li{
  height: 50px;
  width: 100%;
  position: relative;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
 }
 .sidebar ul li .tooltip{
  position: absolute;
  height: 35px;
  width: 122px;
  background: #fff3f3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  left: 122px;
  top: 50%;
  transform: translate(-50% , -50%);
  border-radius: 0px;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0%;
  opacity: 0;
  pointer-events: none;
  display: inline-block;
 }
.sidebar.active ul li .tooltip{
  display: none;
 }
.sidebar ul li:hover .tooltip{
  z-index: 1;
  top: 50%;
  transition: all 0.5% ease;
  opacity: 1;
  overflow: visible;
 }
.sidebar ul li a{
  white-space: nowrap;
  border-radius: 12px;
  text-align: center;
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
 }
.sidebar ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.sidebar ul li a:hover{
background: #fff;
color: inherit;
}
.sidebar ul li:hover::after{
width: 100%;
}
.sidebar ul li  i{
height: 50px;
min-width: 50px;
border-radius: 12px;
line-height: 50px;
text-align: center;
}
.sidebar.active ~ .home_content{
  width: calc(100% - 240px);
  left: 240px;
 }
 .fa-bars{
  white-space: nowrap;
  border-radius: 12px;
  text-align: center;
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  cursor: pointer;
 }
 /*------Home Content-----*/
 .home_content{
  position: absolute;
  height: 100%;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
 }
 .home_content .text{
  font-size: 25px;
  font-weight: 500;
  color: #1d1b11;
  margin: 12px;
 }
/*!
 * Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2022 Fonticons, Inc.
 */
 *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
 /*------Personalization------*/
  /*------Headings------*/
  h1{
    font-size: 36px;
    font-weight: 600;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
/*------row------*/
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*------Layer------*/
.layer{
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
 /*------Buttons------*/
.btn0{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn0:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.btn1{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.btn1:hover{
  color: #fff;
}
/*------Comment Box------*/
.comment-box{
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}
.comment-box h3{
  text-align: left;
}
.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}
.comment-form button{
  margin: 10px 0;
}
/*------Nav Bar------*/
  nav{
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
  }
  .nav img{
      width: 150px;
  }
  .nav-links{
      flex: 1;
      text-align: right;
  }
  .nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
  }
  .nav-links ul li a{
      color:#fff;
      text-decoration: none;
      font-size: 13px;
  }
  .nav-links ul li::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #f44336;
      display: block;
      margin: auto;
      transition: 0.5s;
  }
  .nav-links ul li:hover::after{
      width: 100%;
  }
  nav .fa{
    display: none;
}
@media(max-width: 700px){
    .Services .Services-col{
      font-size: 10px;
      height: 300px;
    }
    .Services .Services-col img{
      width: 95px;
      height: 150px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
  /*------Text Box------*/
  .text-box{
      width: 90%;
      color: #777;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: left;
  }
  .text-box h1{
      font-size: 62px;
  }
  .text-box p{
      margin: 10px 0 40px;
      font-size: 14px;
      color: #777;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
  }
/*Main Page*/
/*------Header------*/
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pics/Media/DNA/);
  background-position: center;
  background-size: cover;
  position: relative;
}
  /*----- Services -----*/
  .Services{
      width: 95%;
      margin: auto;
      text-align: center;
      padding-top: 20px;
  }
  .Services a{
      text-decoration: none;
  }
  .Services a h3{
      color: black;
  }
  
  .Services-col{
      flex-basis: 31%;
      background: #fff3f3;
      border-radius: 10px;
      margin-bottom: 5%;
      padding: 20px 12px;
      box-sizing: border-box;
      transition: 0.5s;
      text-align: left;
      height: 280px;
  }
  .Services-col img{
    height: calc(240px - 2px);
    width: 200px;
    float: right;
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    display: block;
  }
  .Services-col:hover{
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  }
  /*------Others------*/
  .others1{
    margin-bottom: 0;
    text-align: left;
}
  .others{
      width: 100%;
      margin: auto;
      text-align: center;
      padding-top: 5px;
  }
  .others-col{
      flex-basis: 32%;
      border-radius: 10px;
      margin: 10px;
      position: relative;
      overflow: hidden;
  }
  .others-col img{
      width: 100%;
      height: 200px;
      display: block;
  }
  /*------Comments------*/
  .comments{
      width: 80%;
      margin: 100px auto;
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0.7)),url(pics/index.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      text-align: center;
      padding: 100px 0;
  }
  .comments h1{
      color: #fff;
      margin-bottom: 40px;
      padding: 0;
  }
  @media(max-width: 700px){
      .comments h1{
          font-size: 24px;
      }
  }
  /*-------Footer------*/
  .footer{
      width: 100%;
      text-align: center;
      padding: 30px 0;
  }
  .footer:h4{
      margin-bottom: 25px;
      margin-top: 20px;
      font-weight: 600;
  }
  .icons .fab{
      color: #f44336;
      margin: 0 13px;
      cursor: pointer;
      padding: 18px 0;
  }
  .fa-heart{
      color: #f44336;
  }
  .topnav1 {
    overflow: hidden;
    background-color: #f44336;
    flex-basis: 32%;
    margin-top: 20px; 
    margin-bottom: -70px;
    width: 90%; 
    margin-left: 60px; 
    border-radius: 20px;
  }
  @media(max-width: 700px){
    .topnav1 {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: -10px;
    }
  }
  .topnav1 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav1 a:hover {
    background-color: #fff3f3;
    color: black;
  }

                                      /*About us page*/
  /*------Header------*/
  .sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9,30,0.7)),url(pics/Beautiful-High-Quality-Backgrounds-For-Desktop.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }

  .topnav {
    overflow: hidden;
    background-color: #f44336;
    flex-basis: 32%;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #fff3f3;
    color: black;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #fff;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /*------About Us------*/
  .about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .about-col{
    flex-basis: 48%;
    padding: 30px 2px;
  }
  .about-col img{
    width: 100%;
  }
  .about-col h1{
    padding-top: 0;
  }
  .about-col p{
    padding: 15px 0 25px;
  }
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-fluid{
    padding: 0 100px;
}
/************************** Header **********************************/
header#main-header{
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    background: white;
    backdrop-filter: blur(10px);
}
header .navbar-light .navbar-brand img.logo{
    width: 160px;
}
header .navbar .menu-header-menu-container, header .navbar .menu-main-menu-container{
    display: inline-block;
    width: 100%;
}
a{
    color: #f44336;
    text-decoration: none;
    outline: medium none;
    transition: all 0.5s ease-out 0s;
}

.user-m{
    height: 40px;
    width: 40px;
    min-width: 40px;
    line-height: 40px;
    font-size: 0.6rem;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
    color: #f44336;
}
h1 a, h2 a, h3 a, h4 a,h5 a,h6 a{
    color: inherit;
}

.font-size-12{
    font-size: 12px;
}
h6 .h6{
    font-size: 1.0em;
}

a.text-primary:focus, a.text-primary:hover{
    color: #e50914 !important;
}

.text-primary{
    color: #e50914 !important;
}
header#main-header.menu-sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.5) !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 12px;
}


/* *********** Responsiveness of header ************** */
@media (min-width : 1300px){
    .container{
        max-width: 1170px;
    }
}
@media (min-width : 1499px){
    .container{
        max-width: 1266px;

    }
}

@media only screen and (min-width:1200px ) and (max-width : 1366px){
    .search:focus , .search:hover{
        width: 220px !important;
    }
}

@media (min-width:992px){
    .search-box{
        left: auto !important;
        right: 0 !important;
    }
}
@media (max-width:991px){
    header .navbar-light .navbar-brand img.logo{
        width: 100px;
    }
    .navbar-collapse{
        position: fixed;
        top: 0;
        left: 0;
        padding-bottom: 15px;
        width: 260px;
        height: 100vh;
        background: #fff3f3;
        padding-top: 40px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0,0.2);
    }
    .vertical_s{
        position: static;
    }
    .navbar-collapse.collapsing{
        height: auto;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show{
        left: -15px;
        transition: left 0.3s ease-in;
        z-index: 999;
    }
    header .navbar ul li.menu-item a{
        line-height: 10px;
        float: left;
        width: 100%;
        text-align: left;
        padding: 10px 30px;
        color: #f44336
    }
    .mobile-more-menu{
        display: block;
    }
    .menu-right{
        display: none;
    }
    .navbar-brand{
        padding: 0;
        margin-right: 0;
    }
    .more-menu .iq-sub-dropdown{
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60px;
    }

    .mobile-more-menu .iq-user-dropdown img{
        width: 40px;
    }
    .iq-search-bar .search-input{
        background: #fff;
        color: #111;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
    }
    .navbar-right li{
        position: static !important;
    }
    .container-fluid{
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-header{
        padding: 10px 0;
    }
    .search-box{
        min-width: 16.2rem;
        top: 55px;
    }
    header .navbar ul li{
        display: block;
    }
}
@media (min-width : 576px){
    .iq-search-bar a.search-toggle{
        display: none;
    }
}

@media (min-width : 1499px){
    .container{
        max-width: 1200px;
    }
}

@media (max-width : 479px){
    header .navbar ul li.list-inline-item a{
        padding-left: 20px;
        padding-right: 20px;
    }
    header .navbar .iq-usermenu-dropdown>ul>li{
        position: static;
    }
    .search-box{
        left: 0;
        right: 0;
        min-width: 100%;
        width: 100%;
    }
    header .iq-usermenu-dropdown .iq-sub-dropdown{
        width: 250px;
    }
}

/* header menu responsiveness  */
@media screen and (min-width : 1200px){
    header .navbar ul li .sub-menu li a, header.menu-sticky .navbar ul li .sub-menu li a{
        white-space: nowrap;
    }
}
@media screen and (max-width : 4000px) and (min-width : 1200px){
    .navbar ul li:hover a, .navbar ul li:hover i{
        color: #e50914;
        text-decoration: none;
    }
}
@media (max-width :991px){
    .navbar ul.navbar-nav{
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 350px;
        display: inline-block;
        width: 100%;
    }
    .navbar ul{
        width: 100%;
        background: #fff3f3;
    }
    header .navbar ul li a, header .navbar ul li.menu-item a{
        padding: 15px;
        z-index: inherit;
        text-align: left;
        font-weight: normal;
    }
    header .navbar ul li.menu-item a{
        line-height: 10px;
        float: left;
        width: 100%;
        text-align: left;
        padding: 10px 30px;
        color: #bf000a;
    }
    header .navbar ul li:hover .sub-menu{
        box-shadow: none;
    }
    header .navbar ul li .sub-menu, header .navbar ul li:hover .sub-menu{
        display: none;
        position: relative;
        top: 0;
        width: 100%;
        padding: 0;
        z-index: 9;
    }
    header .navbar ul li .sub-menu li .sub-menu li.menu-item a{
        background: transparent;
    }
    .navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu, .navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover >.sub-menu{
        left: auto;
        right: 0;
        top: 0;
    }
}

/* ******************** slider main **************** */
.iq-main-slider{
    position: relative;
}

#home-slider ul.slick-dots{
    bottom: 30px;
}

#home-slider .slick-dots li{
    height: auto;
    width: auto;
}
#home-slider .slick-dots li button{
    height: 2px;
    width: 30px;
    background: rgba(229, 9, 20, 0.4);
    padding: 0;
}

#home-slider .slick-dots li.slick-active button{
    background: #e50914;
}

#home-slider li {
    position: relative;
}
.slider-description{
    position: absolute;
    top: 15%;
    left: 80px;
}
#home-slider h1.slider-text{
    font-size: 80px;
    margin: 15px 0;
}
#home-slider p{
    margin: 20px 0;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#home-slider .slick-bg{
    padding: 130px 0 50px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}
#home-slider .slick-bg.s-bg-1{
    background-image: url(images/Media/Movies/Fast\ X7.jpg);
}
#home-slider .slick-bg.s-bg-2{
    background-image: url(images/Media/Movies/Inside\ Out\ 1.jpg);
}
#home-slider .slick-bg.s-bg-3{
    background-image: url(images/Media/Movies/To\ All\ The\ Boys\ Ive\ Loved\ Before.jpg);
}

.slick-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(20,20,20,0) 35%, rgba(83,100,141,0) 100%);
    width: 100%;
    z-index: -1;
}
.trailor-video{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}
.channel-name{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 2.5px;
    font-weight: 500;
}
.c-logo{
    width: 130px;
}

.channel-logo{
    border-left: 5px solid white;
    background: transparent linear-gradient(270deg, rgba(11,1,2,0) 0%, rgba(255,255,255,0.3) 100%);
    padding: 10px 10px 10px 15px;
    width: 255px;
    position: relative;
    overflow : hidden;
}

.playbtn{
    display: inline-block;
}
.playbtn img{
    display: inline-block;
    width: 50px;
    filter: invert(1);
}
.playbtn img:hover{
    background: #e50914;
    border-radius: 50%;
    filter: invert(0);
}
.w-trailor{
    font-size: 17px;
    letter-spacing: 3.5px;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;

}
.slider-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.big-title{
   font-family: 'Playfair Display', serif;
   background: url(images/texure.jpg);
   background-repeat: repeat-x;
   background-position: 100% 100%;
   color: transparent;
   background-clip: text;
   -webkit-font-smoothing : antialiased;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.slick-track{
    margin: unset !important;
}
h1, .h1{
    font-size: 3.052em;
}
h2, .h2{
    font-size: 2.300em;
}
h3, .h3{
    font-size: 1.953em;
}
h4, .h4{
    font-size: 1.400em;
}
h5, .h5{
    font-size: 1.300em;
}
h6, .h6{
    font-size: 1.0em;
}
.slider-ratting ul li{
    margin-right: 5px;
}
.text-white{
    color: #fff !important;
}
.text-body{
    color: #d1d0cf !important;
}

.text-primary{
    color: #e50914 !important;
}

.iq-button.btn{
    padding: 12px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.btn{
    outline: medium none;
    padding: 9px 30px;
    position: relative;
    display: inline-block;
    border-radius: 0 !important;
    cursor: pointer;
    z-index: 4;
    transition: all 0.5s ease-out 0s;
}
.btn-hover{
    background: #bf000a;
    border: 1px solid #bf000a;
    color: #fff;
    transition:color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    border-radius: 5px;

}

.btn-hover::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e50914;
    border: 1px solid #e50914;
    transform: scaleX(1);
    transform-origin: 50%;
    transition: transform 0.3s ease-out;

}
.btn-hover:hover, .btn-hover:focus, .btn-hover:active{
    color: #fff;
}
.btn-hover:focus{
    box-shadow: none !important;
}

.btn-hover:hover::before, .btn-hover:focus::before, .btn-hover:active::before{
    transform: scaleX(0);
}

.btn-link{
    background: transparent;
    color: #fff;
}
.btn-link:hover{
    color: #e50914;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
a.text-primary:focus, a.text-primary:hover{
    color: #e50914 !important;
}
.w-trailor:hover{
    transition: all 0.5s ease;
    color: #e50914;
}
/* responsiveness *********************** */

@media (min-width : 1499px){
    #home-slider h1.slider-text{
        margin: 25px 0 0;
    }
    #home-slider p{
        margin: 32px 0px;
    }
}
@media (max-width : 1199px){
    #home-slider .slick-bg{
        height: 100%;
    }
}
@media (max-width : 991px){
    .hover-buttons .btn{
        font-size: 10px;
    }
    #home-slider .slick-bg{
        padding: 50px 0;
    }

    .r-mb-23{
        margin-bottom: 23px;
    }

    .trailor-video{
        display: none;
    }
    #home-slider h1.slider-text{
        font-size: 35px;
    }
    .iq-main-slider{
        padding-top: 60px !important;
    }
}

@media (max-width : 767px){
    #home-slider h1.slider-text{
        line-height: 62px;
        margin: 0;
    }
    #home-slider p{
        margin: 22px 0; 
    }

    .iq-main-header{
        margin-bottom: 10px;
    }
    .main-content{
        padding-top: 25px;
    }
    #home-slider p{
        width: 100%;
    }
    .slick-bg::before{
        background: linear-gradient(-360deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 40%,
         rgba(83,100,141,0) 100%);

    }
    .play-button i{
        font-size: 16px;
    }
    .play-button::after, .play-button::before{
        width: 40px;
        height: 40px;
    }
}

/* ******************************** */
.main-content{
    padding-top: 40px;
}

.iq-main-header{
    margin-bottom: 20px;
}
.main-title a:hover , .main-title a:focus{
    color: #e50914 !important;
}
.iq-view-all:hover{
    color: #bf000a;
}
.favorites-slider .slick-list{
    overflow: visible;
    padding-bottom: 40px !important;
}

.favorites-slider li.slide-item{
    float: left;
    width: 25%;
}

li.slide-item{
    position: relative;
    padding: 0px 15px;
}

li.slide-item .block-images{
    position: relative;
    width: 100%;
    transition: all 0.45s ease 0s;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    transition: all 0.6s ease 0s;
}
li.slide-item:hover .block-images{
    overflow: visible;
    border-left: 5px solid #e50914;
}

li.slide-item:hover .block-images .img-box{
    position: relative;
}
.favorites-slider .slick-list{
    overflow: visible;
}
li.slide-item:hover .block-images{
    z-index: 99;
    transform: scale3d(1.1,1.1,1) translate3d(0,0,0) perspective(500px);
    transform-origin: 50% 50%;
    transition: all 0.6s ease 0s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
.block-social-info{
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 25px;
    z-index: 999;
    display: flex;
    align-items: center;
    opacity: 0;
}
.block-description{
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block-description>h6{
    font-size: 1.5em;
}
.block-description .iq-title{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}
.music-play-lists li{
    position: relative;
    height: 30px;
    width: 30px;
    line-height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 auto 7px;
    display: flex;
    align-items: center;
}
.music-play-lists span{
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    background: #fff;
    color: #e50914;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s ease 0s;
    cursor: pointer;
}
.music-play-lists .count-box{
    height: 15px !important;
    width: 15px !important;
    line-height: 15px !important;
    font-size: 8px !important;
    background: #e50914 !important;
    color: #fff !important;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    text-align: center !important;
}

.music-play-lists li:hover span{
    background: #e50914;
    color: #fff;
    transition: all 0.45s ease 0s;

}

.text-white{
    font-size: 14px;
}

li.slide-item .block-images::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
}

li.slide-item:hover .block-images::before{
    opacity: 1;
    z-index: 9;
}
li.slide-item:hover .block-description{
    animation: fadeIn 0.6s ease-in-out;
    opacity: 1;
}
li.slide-item:hover .block-social-info{
    animation: fadeIn 0.6s ease-in-out;
    opacity: 1;
}

.hover-buttons .btn{
    padding: 5px 15px;
    font-size: 12px;
}
li.slide-item.slick-current:hover .block-images{
    transform: scale3d(1.1,1.1,1) translate3d(6%,0,0) perspective(500px) ;
}
li.slide-item .block-images::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(20,20,20,0.4) 50%, rgba(83,100,141,0) 100%);
    transition: all 0.6s ease 0s;
}
small, .text-small, span{
    font-size: 14px;
}

a:focus, a:hover{
    color: #e50914;
    outline: none;
}

li.slide-item{
    position: relative;
    padding: 0px 10px;
}

.iq-button.btn{
    padding: 7px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.block-images .hover-buttons{
    margin-top: 5px;
}

.block-social-info .music-play-lists li {
    width: 40px;
    height: 40px;
}

.block-social-info .music-play-lists span{
    width: 30px;
    height: 30px;
}
.block-social-info .music-play-lists span i{
    font-size: 15px;
}

.overflow-hidden{
    overflow: hidden;
}
.share{
    position: relative;
}

.share-box{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
    display: none;
    position: absolute;
    width: 105px;
    top: 3px;
    right: 40px;
    left: auto;
    background-color: #191919;
    padding: 0 10px;
    border-radius: 0;
    text-align: center;
    z-index: 2;
    animation: side-in 0.5s forwards;
    margin-bottom: 10px;
    transition: all 0.45s ease 0s;
}

.share:hover .share-box{
    display: inline-block;
}
.share-box a{
    background: transparent !important;
    color: #d7d3f8 !important;
    margin-right: 15px;

}
.share-box i{
    font-size: 15px !important;
}
.share-box a:hover{
    color: #bf000a !important;
}
.favorites-slider .slick-arrow{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 35px;
    height: 60px;
}

.favorites-slider .slick-arrow i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 60px;
    text-align: center;
    opacity: 1;
    z-index: 9;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    line-height: 5px;
    box-shadow: 0 9px 19px #01041b0d;
    font-size: 0;
    transform: none;
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
}
.favorites-slider .slick-arrow.slick-disabled{
    opacity: 0;
}
.favorites-slider .slick-prev{
    color: #fff;
    right: auto;
    left: 9px;
    z-index: 9;
    top: 90px;
}
.favorites-slider .slick-next{
    left: auto;
    color: #fff;
    right: 6px;
    z-index: 9;
    top: 90px;
}

.favorites-slider .slick-prev::before, .favorites-slider .slick-next::before{
    font-size: 0px;
}

.favorites-slider .slick-arrow i{
    font-size: 17px;
}


/* ****************** Responsiveness **************** */
@media (min-width : 1200px){
    li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images{
        transform:  scale3d(1.1,1.1,1) translate3d(-6% , 0,0) perspective(500px);
    }  
}

@media (max-width : 1199px){
    li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images{
        transform:  scale3d(1.1,1.1,1) translate3d(-6% , 0,0) perspective(500px);
    }
}

@media (max-width : 991px){
    li.slide-item .block-description .movie-time span, li.slide-item .block-description .ratting-start, .block-description .movie-content li{
        font-size: 10px;
    }
}
@media (max-width : 768px){
    li.slide-item .block-images::before{
        content: none;
    }
    li.slide-item.slick-current:hover .block-images, li.slide-item:hover .block-images, li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images, li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images{
        transform: none;
    } 
    .type{
        padding: 9px 10px;
        font-size: 13px;
    }
}

@media (max-width : 767px) {
    .main-title{
        font-size: 1em;
    }

    .slick-bg::before{
        background: linear-gradient(-360deg, rgba(0,0,0,1) 0% , rgba(20,20,20,1) 40% , rgba(83,100,141,0) 100%);

    }
    .favorites-slider .slick-arrow, .favorites-slider .slick-arrow:hover{
        background: none;
    }
    .favorites-slider .slick-prev{
        right: 37px;
    }

    .image-box img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/* ************************** */
.topten-contents{
    position: relative;
    overflow: hidden;
}
h1,h2,h3,h4,h5{
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}

h1 a, h2 a, h3 a , h4 a, h5 a, h6 a{
    color: inherit;
} 

#top-ten-slider-nav .slick-list{
    overflow: visible;
    padding-bottom: 40px !important;
}
#iq-topten .iq-title{
    position: absolute;
    left: 35px;
    top: 35px;
    z-index: 50;
    font-size: 28px;
    font-weight: 700;
}
#top-ten-slider .slick-bg .iq-title a{
    display: none;
}

.topten-title-sm{
    display: none;
}

.vertical_s{
    position: absolute;
    top: 95px;
    right: 0;
    bottom: 0;
    left: 35px;
    overflow: hidden;
}
#top-ten-slider-nav{
    width: 300px;
    height: 100%;
    position: relative;
}
#top-ten-slider-nav .slick-list.draggable{
    height: 100% !important; 
}
#top-ten-slider-nav .slick-prev, #top-ten-slider-nav .slick-next{
    left: 0;
    right: 0;
    margin: 0 auto;
}
#top-ten-slider-nav .NextArrow, #top-ten-slider-nav .PrevArrow{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    color: #fff;
    font-size: 30px;
    width: 60px;
    height: 35px;
}
#top-ten-slider .NextArrow, #top-ten-slider .PrevArrow{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 30px;
    width: 35px;
    height: 60px !important;
    outline: none;
}
#top-ten-slider-nav .NextArrow{
    bottom: 0;
}
#top-ten-slider-nav .PrevArrow{
    top: 0;
}

#top-ten-slider .NextArrow{
    right: 0;
    left: auto;
}
#top-ten-slider .PrevArrow{
    left: 0;
    right: auto;
}

/* we will see about arrow afterwards  */
#top-ten-slider-nav .slick-next::before, #top-ten-slider-nav .slick-prev::before, #top-ten-slider .slick-next::before , #top-ten-slider .slick-prev::before{
    display: none;
}
.slick-arrow{
    cursor: pointer;
}
ul#top-ten-slider .slick-bg::before{
    z-index: 0;
}
#top-ten-slider-nav .NextArrow:hover, #top-ten-slider-nav .NextArrow:focus{
    outline: none !important;
    border:  none !important;
}
#top-ten-slider-nav .PrevArrow:hover, #top-ten-slider-nav .PrevArrow:focus{
    outline: none !important;
    border:  none !important;
}
#top-ten-slider .NextArrow{
    right: 10px;
}
#top-ten-slider .PrevArrow{
    left: 10px;
}

.slick-vertical .slick-slide .block-images::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0% , rgba(20,20,20,0.4) 50% , rgba(83,100,141,0) 100%);
    transition: all 0.45s ease 0s;
}
.slick-vertical .slick-slide .block-images{
    overflow: visible;
}
.slick-vertical .slick-slide .block-images::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.45s ease 0s;
    border-left:  6px solid #e50914;
}
.slick-vertical .slick-slide.slick-current.slick-active .block-images::before{
    opacity: 1;
    transition: all 0.45s ease 0s;
}
.slick-vertical .slick-slide.slick-current.slick-active .block-images{
    width: 100%;
    overflow: visible;
    transform-origin: 100% 100%;
    transition: all 0.45s ease 0s;
    z-index: 9;

}
.slick-vertical li.slick-slide.slick-current.slick-active{
    transition: all 0.45s ease 0s;
}

.slick-vertical .slick-slide{
    margin-bottom: 18px;
}
.slick-vertical li.slick-slide:last-child{
    margin-bottom: 0 !important;
}
.slick-vertical .block-description .hover-buttons > a{
    opacity: 0;
    display: none;
    transition: all 0.45s ease 0s;
}

.slick-vertical .slick-slide.slick-current.slick-active .block-description .hover-buttons > a{
    transition: all 0.45s ease 0s;
    opacity: 1;
    display: block;
}

/* ************* Responsiveness **************** */
@media (max-width : 991px){
    #top-ten-slider .NextArrow, #top-ten-slider .PrevArrow{
        display: none;
    }
    .topten-title{
        display: none;
    }
}
@media (max-width : 767px){
    #top-ten-slider .NextArrow{
        right: 10px !important;
    }
    #top-ten-slider .PrevArrow{
        left: 10px !important;
    }

    .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }

    #top-ten-slider .NextArrow, #top-ten-slider .PrevArrow{
        width: 30px;
        height: 30px;
        font-size: 23px;
    }

    .vertical_s{
        position: static;
    }
    #top-ten-slider-nav{
        width: 100%;
        height: 100%;
    }

    #top-ten-slider .slick-bg .iq-title a{
        display: block;
        font-size: 0.7em;
        color: #d1d0cf;
    }
    .vertical_s{
        display: none;
    }
    .topten-title-sm{
        display: block;
    }
    .topten-title{
        display: none;
    }
    #top-ten-slider .slick-bg::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0% , rgba(20,20,20,1) 35%, rgba(83,100,141,0) 100%);
        width: 100%;
        z-index: -1;
    }
}

/* *************************** */
.s-margin{
    margin-top: 0;
}

/* ***************************** */
li.slide-item .block-description .parallax-ratting span{
    font-size: 14px;
}
.parallax-img img{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}
.parallax-window{
    height: 100%;
    padding: 100px 0;
    position: relative;
    background: url(images/parallax/avatar.jpg) center center;
    background-size: cover;
    background-attachment: fixed ;
}
.parallax-window::after{
position: absolute;
content: "";
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.8);
}
.parallaxt-details{
    z-index: 9;
    position: relative;
}
.parallax-heading{
    font-size: 52px;
}

/* *********** responsiveness ********** */
@media (max-width : 991px){
    li.slide-item .block-description .parallax-ratting span{
        font-size: 10px;
    }
}
@media (max-width : 767px){
    .parallax-window{
        padding: 60px 0;
    }
    .parallax-heading{
        font-size: 35px;
    }
}


/* **************************************** */
#trending-slider-nav .slick-arrow, .trending-contens .slick-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35px;
    height: 60px;
}
#trending-slider-nav .slick-arrow i, .trending-contens .slick-arrow i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 60px;
    text-align: center;
    opacity: 1;
    z-index: 9;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    line-height: 5px;
    box-shadow: 0 9px 19px #01041b0d;
    font-size: 0;
    transform: none;
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
}
.trending-contens .slick-arrow.slick-disabled{
    opacity: 0;
}
#trending-slider-nav .slick-prev, .trending-contens .slick-prev{
    color: #fff;
    right: auto;
    left: 11px;
    z-index: 9;
    top: 90px;
}
#trending-slider-nav .slick-next, .trending-contens .slick-next{
    left: auto;
    color: #fff;
    right: 11px;
    z-index: 9;
    top: 90px;
}
#trending-slider-nav .slick-prev::before, .trending-contens .slick-next::before, .trending-contens .slick-prev::before, .trending-contens .slick-next::before{
    font-size: 0;
}

#trending-slider-nav .slick-arrow i, .trending-contens .slick-arrow i{
    font-size: 17px;
}
.trending-contens .slick-arrow{
    top: 50%;
}
#trending-slider-nav .slick-current.slick-active{
    transform: scale3d(1.1,1.1,1) translate3d(0,0,0) perspective(500px);
    transform-origin: 50% 50% ;
    transition: all 0.6s ease 0s;
    box-shadow: 0 0 12px rgba(0,0,0,0.9);
}
#iq-trending{
    overflow: hidden;
}
#trending-slider-nav .slick-list{
    padding-bottom: 40px !important;
    overflow: visible;
}

#trending-slider-nav .movie-slick{
    border: 12px solid transparent;
    transition: all 0.4s ease;
    z-index: -1;
}
#trending-slider-nav .slick-current.slick-active .movie-slick{
    transition: all 0.4s ease;
    padding: 10px;
    background: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(1px);
    border: 1px solid #5d5757;
}
#trending-slider-nav .slick-current.slick-active{
    transform: scale3d(1.3,1.3,1) translate3d(0,0,0) perspective(500px);
    transform-origin: 50% 50% ;
    transition: all 0.6s ease 0s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
#trending-slider .tranding-block {
    background-size: cover;
    background-position: top right;
    position: relative;
}

.trending-pills{
    background: rgba(0, 0, 0, 0.25);
}
.trending-info{
    padding: 60px 0;
}
.tab-title-info{
    z-index: 99;
}

.trending-content .tab-pane.fade{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.trending-content .tab-pane.fade.active.show{
    display: block;
    visibility: visible;
    opacity: 1;
}
.trending-content .tab-pane{
    width: 100%;
    height: 100%;
}
.nav-pills .nav-item a{
    color: #d1d0cf;
    border-radius: 50px;
}
.nav-pills .nav-link.active, .nav-pills .show >.nav-link{
    color: #fff;
    background: transparent;
}

.nav-pills .nav-link:hover{
    color: #e50914;
}
.nav-tabs{
    border-bottom: 2px solid #d7d3f8;
    margin-bottom: 15px;
}
.nav-tabs .nav-item{
    margin-bottom: -2px;
}

.nav-tabs .nav-item a{
    color: #d1d0cf;
    border: none;
    border-bottom: 2px solid transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-bottom: 2px solid #e50914;
    color: #e50914;
}
.trending-pills.nav-pills .nav-item a{
    position: relative;
    overflow: hidden;
    border-radius: 0;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
}

.trending-pills.nav-pills .nav-item a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    background: white;
    opacity: 0;
    transition: all 0.8s linear;
}
.trending-pills.nav-pills .nav-item a::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(83,100,141,0) 0%, rgba(255,255,255,0.3) 85%);
    content: "";
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0,-50%,0);
    transition: all 0.5s ease-in-out;
}
.trending-pills.nav-pills .nav-item a.show::before{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(0,0,0);
    transition: all 0.5s ease-in-out;
}
.trending-pills.nav-pills .nav-item a.show::after{
    opacity: 1;
    width: 100%;
}
.trending-pills.nav-pills .nav-item a:hover{
    color: wheat;
}

.trending-content{
    padding : 0 50px;
    display: flex;
}
.p-btns{
    display: flex;
    align-items: center;
}
.trending-info .trending-text{
    font-size: 60px;
    line-height: 100px;
    margin: 15px 0;
}
.trending-info .text-details{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
}

.trending-info .text-detail .badge{
    font-size: 20px;
}
.badge.badge-trend{
    background: rgba(0, 0, 0, 0.42);
}

.text-detail .trending-year{
    position: relative;
    padding-left: 30px;
}

.text-detail .trending-year::before{
    content: "";
    height: 6px;
    width: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    border-radius: 50%;
}
.overview-tab::before, .slick-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(36,36,36,1) 35%,
     rgba(83,100,141,0) 100%);
    z-index: 1;
}
.slick-bg::before{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35% ,
     rgba(83,100,141,0) 100%);
     width: 100%;
     z-index: -1;

}
.overlay-tab::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(36,36,36,0.8);
    z-index: 1;
}
.trending-info{
    position: relative;
    z-index: 99;
}

.trending-info .trending-dec{
    margin-bottom: 30px;
    width: 35%;
}
.trending-info .block-social{
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.trending-info .block-social a{
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    line-height: 26px;
    font-size: 26px;
    text-align: center;
    background: #fff;
    color: #e50914;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s ease 0s;
}
.trending-info .block-social.social1 a{
    background: #e50914;
    color: #fff;

}
.trending-list .title{
    font-size: 18px;
    font-weight: 800;
}

.trending-list .title span{
    font-size: 16px;
    font-weight: 400;
}
.trending-info .iq-dropdown .form-control{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #fff;
}
.iq-custom-select .select2-container--bootstrap4 .select2-selection, .select2-dropdown{
    background-color: #191919;
    border: none;
    border-radius: 0;
    color: #fff;
}
.select2-dropdown{
    top: 0;
    box-shadow: 0 12px 34px rgba(19, 10, 10, 1);
}
.iq-custom-select select{
    box-shadow: none;
}
.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected = true]{
    background-color: #141414;
}
.select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected = true]{
    background-color: #e50914;
    color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    line-height: calc(1.5em + 1.2rem);
    padding-left: 10px;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection{
    box-shadow: none;
}
.select2-search--dropdown .select2-search__field{
    border-radius: 0;
    border: none;
    background: rgba(85, 85, 85, 0.65);
    color: #fff;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b{
    border: none;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b::before{
    content: '\f107';
    position: absolute;
    font-family: fontAwesome;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    color: #fff;
    font-size: 16px;
    z-index: 99;
    transition: all 0.4s ease;
}
.select2-container--bootstrap4.select2-container--open .select2-selection__arrow b::before{
    transform: translateY(-50%) rotate(180deg);
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b{
    margin-top: 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow{
    width: auto;
}
.select2-container--bootstrap4 .select2-selection--single , .select2-container--bootstrap4 .select2-selection--multiple{
    height: 40px !important;
}
.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above{
    border-radius: 0;
    border: none;
}
.sea-epi .select2-container{
    width: 150px !important;
}

.series {
    margin-top: 1.5rem;
}

.trending-contens .episodes-contens{
    margin-top: 30px;
}
.e-item .episodes-description{
    color: #d1d0cf;
    background: #141414;
    padding: 15px;
}
.e-item:hover .episodes-description{
    color: #fff !important; 
    transition: all 0.4s ease;
}
.episodes-description a:hover{
    color: #e50914;
}

.episode-number{
    color: #fff;
}
.episode-duration{
    position: absolute;
    top: 15px;
    left: auto;
    right: 15px;
    font-weight: 700;
    background: #e50914;
    color: #fff;
    padding: 0 5px;
}
.e-item .episodes-description p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.e-item:hover .episode-number{
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.5s ease-in-out;
}

.episode-play-info{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.e-item:hover .episode-play-info{
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.5s ease-in-out;
}
.episode-play{
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.episode-play a{
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    color: #e50914;
    border-radius: 50%;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s ease 0s;
}
.episodes-slider1 .owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color: #fff;
}
.episodes-slider1 .owl-nav button.owl-prev, .episodes-slider1 .owl-nav button.owl-next{
    float: left;
    width: 35px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 23px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    outline: none;
    border: none;
}
.episodes-slider1 .owl-nav button.owl-next{
    float: right !important;
}

/* ****************** responsiveness************ */
@media (max-width: 767px){
    .trending-content{
        padding: 0;
    }
    .trending-info .trending-dec{
        width: 70%;
    }
    .trending-pills{
        flex-direction: column;
        margin-top: 25px;
    }
    .main-title{
        font-size: 1em;
    }
    .iq-main-header{
        margin-bottom: 10px;
    }
    .iq-main-header .title{
        margin-bottom: 50px;
    }
    .trending-info .block-social.social1{
        margin-left: 0 !important;
    }
    .trending-info .trending-text{
        font-size: 35px !important;
        line-height: 1.3;
    }
    .trending-info{
        padding: 60px 15px;
    }
    .episode-name{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .text-detail.episode-name .trending-year{
        padding-left: 0;
        font-size: 24px;
    }
    .episodes-slider1 .owl-nav button.owl-prev, .episodes-slider1 .owl-nav button.owl-next{
        width: 30px;
        height: 30px;
        font-size: 27px;
    }
    .episode-name .trending-year::before{
        content: none;
    }

    .overlay-wrapper::before{
        background-image: linear-gradient(to bottom, rgba(51,51,51,0), rgba(0,0,0,0.8) 40%, #000 100%);
    }
    #trending-slider-nav .slick-arrow, #trending-slider-nav .slick-arrow:hover{
        background: none;
    }
    #trending-slider-nav .slick-prev{
        left: 0px;
        top: 150px;
    
    }
    #trending-slider-nav .slick-next{
        right: 0px;
        top: 150px;
        
    }
    

}

@media (max-width : 479px){
    .banner-caption , .overlay-s-name{
        left: 15px;
    }
    .banner-wrapper .trending-info .trending-dec{
        display: none;
    }
}

/* ***************** footer **************** */
.footer-top{
    padding: 60px 0;
}

footer .footer-standard .widget ul li{
    display: inline-block;
    padding-right: 30px;
}
footer .footer-standard .widget ul>li>a{
    padding: 0;
    font-weight: 400;
}
footer .footer-standard .widget ul>li>a::before{
    display: none;
}
footer .footer-link-title{
    margin-bottom: 20px;
    margin-top: 0;
}
footer .widget{
    background: transparent;
    border: none;
    padding: 0;
}

footer .footer-top .info-share li{
    margin-right: 15px;
    margin-bottom: 15px;
}
footer .footer-top .info-share li:last-child{
    margin-right: 0;
}


.iq-bg-dark{
    position: relative;
}
footer .footer-top .info-share{
    padding-left: 0;
}
footer .footer-top .info-share li{
    margin-right: 20px;
    display: inline-block;
}

footer .footer-top .info-share li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    z-index: -1;
    border-radius: 50%;
    transition: all 0.4s ease 0s;
}
.textwidget .footer-link-title{
    width: 100px;
}
/*---------------------------Others---------------*/
.others{
    width: 100%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
}
.others-col{
    flex-basis: 32%;
    border-radius: 12px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}
.others-col img{
    width: 100%;
    height: 200px;
    display: block;
}
.row1{
    margin: 2%;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 700px){
    .row1{
        flex-direction: column;
    }
}
/*********************** Pop Up **********************************/
.popup {
    position: absolute;
    display: flex;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup:target {
    visibility: visible;
    opacity: 1;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
.popup-content {
    background-color: #ffffff;
    position: absolute;
    border: 1px solid #888888;
    width: 100%;
    height: auto;
    font-family: "Poppins",sans-serif;
}
.popup-content a{
    color: white;
    text-decoration: none;
}
.box-close {
    position: absolute;
    display: block;
    margin:  0 0 20px auto;
    font-size: 30px;
    color: #ffffff;
    background-color: transparent;
    background: #e50914;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    right: 15px;
}